@import "@/styles/colors.scss";

.team-tag-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: $lions1;
  padding: 2px 6px;
  border-radius: 40px;
  user-select: none;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.lions {
  background: $lions1;
}

.tigers {
  background: $tigers1;
}

.twins {
  background: $twins1;
}

.bears {
  background: $bears1;
}

.giants {
  background: $gients1;
}

.dinos {
  background: $dinos1;
}

.landers {
  background: $landers1;
}

.wiz {
  background: $wiz1;
}

.eagles {
  background: $eagles1;
}

.heroes {
  background: $heroes1;
}
