@import "@/styles/colors.scss";

.vote-container {
  position: absolute;
  right: 0;
  width: 300px;
  height: 390px;
  padding: 18px 15px 34px 15px;
  background: $dark-bg;
  color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__time {
    font-size: 14px;
  }
  &__disc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &__sub {
      font-size: 14px;
      color: $dark-text1;
    }
    &__title {
      font-size: 24px;
    }
  }
  &__vote {
    display: flex;
    gap: 10px;
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      background-color: $gray;
      border-radius: 8px;
      width: 130px;
      height: 150px;
    }
  }
  h1 {
    font-size: 500px;
  }
}
