.input-container {
  width: 100%;
  max-width: 1150px;
  height: 70px;
  display: flex;
  position: fixed;
  bottom: 20px;
  justify-content: space-between;
  z-index: 9;
  background-color: #fff;
  border-radius: 12px;
  &__button {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button:hover {
    cursor: pointer;
  }
  &__input {
    width: 100%;
    border: none;
  }
  &__input:focus {
    outline: none;
  }
}
