@mixin title1 {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 48px;
}

@mixin title2 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 36px;
}

@mixin title3 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 24px;
}

@mixin title4 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 22px;
}

@mixin text1 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 18px;
}

@mixin text2 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 16px;
}

@mixin text3 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 14px;
}

@mixin text3 {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 12px;
}
