// 공통
$text: #000;
$background: #fff;

// 삼성라이온즈
$lions1: #0264b3;
$lions2: #fff;
$lions3: #c0c0c2;

// LG트윈스
$twins1: #a50135;
$twins2: #000;
$twins3: #6d6e71;

// 기아타이거즈
$tigers1: #e10922;
$tigers2: #000a1f;
$tigers3: #fff;

// 롯데자이언츠
$gients1: #041e42;
$gients2: #d10e30;
$gients3: #6cabe5;

// 한화이글스
$eagles1: #ff6600;
$eagles2: #25282a;
$eagles3: #97999b;

// 키움히어로즈
$heroes1: #560715;
$heroes2: #eb3699;
$heroes3: #fff;

// SSG랜더스
$landers1: #c7112f;
$landers2: #ffb601;
$landers3: #fff;

// 두산베어스
$bears1: #131230;
$bears2: #ed1c24;
$bears3: #fff;

// NC 다이노스
$dinos1: #1d467d;
$dinos2: #c79f79;
$dinos3: #fff;

// KT위즈
$wiz1: #000101;
$wiz2: #ed1d25;
$wiz3: #fff;
