// 삼성라이온즈
$lions1: #0264b3;
$lions2: #fff;
$lions3: #3091e1;

// LG트윈스
$twins1: #a50135;
$twins2: #fff;
$twins3: #000;

// 기아타이거즈
$tigers1: #ea0128;
$tigers2: #fff;
$tigers3: #000;

// 롯데자이언츠
$gients1: #041e42;
$gients2: #6cabe5;
$gients3: #d10e30;
$gients4: #fff;

// 한화이글스
$eagles1: #ff6600;
$eagles2: #fff;

// 키움히어로즈
$heroes1: #560715;
$heroes2: #fff;

// SSG랜더스
$landers1: #c7112f;
$landers2: #ffb601;
$landers3: #fff;

// 두산베어스
$bears1: #131230;
$bears2: #fff;
$bears3: #131230;
$bears4: #ed1c24;

// NC 다이노스
$dinos1: #1d467d;
$dinos2: #fff;
$dinos3: #c79f79;

// KT위즈
$wiz1: #000101;
$wiz1: #fff;
$wiz1: #ed1d25;