@import "@/styles/colors.scss";

.item-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__comment {
    display: flex;
    gap: 8px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: $dark-text1;
    font-size: 14px;
    &__date {
      display: flex;
      justify-content: center;
      gap: 8px;
    }
    &__like {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }
}

.profile-image {
  background: #ccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__reply {
    display: flex;
    gap: 10px;
    span {
      color: $dark-text1;
      cursor: pointer;
      user-select: none;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.reply-input {
  width: 100%;
  height: 30px;
  margin-bottom: 24px;
  background: $gray;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.like-btn {
  width: 22px;
  height: 22px;
  background: $like-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 8px;
  svg {
    font-size: 14px;
    color: $like-obj;
  }
}
