.submenu-block {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 998;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #fff;

  &__content {
    display: flex;
    gap: 40px;
    position: relative;
    left: -92px;
    top: 6px;
  }

  &__item {
    text-align: center;
    cursor: pointer;
    &.active {
      font-weight: 700;
      border-bottom: 4px solid #000;
      padding-bottom: 6px;
    }
  }
}

.scrollDown {
  transition: opacity 0.2s ease-in-out;
  animation: scrollDown 0.2s normal;
  opacity: 0;
  transform: translateY(-70px);
  // z-index: 998;
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}

.scrollUp {
  transition: opacity 0.2s ease-in-out;
  animation: scrollUp 0.2s normal;
  opacity: 1;
  transform: translateY(0);
  // z-index: 998;
  @keyframes scrollUp {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
