.login-block {
  max-width: 1200px;
  height: calc(100vh - 100px);
  margin-inline: auto;
  border: 3px solid red;
  color: white;
  display: flex;
  gap: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &__button {
    width: 700px;
    height: 90px;
    border-radius: 20px;
    border: 4px solid blue;
    &:hover {
      cursor: pointer;
    }
  }
}

.login-image {
  width: 40%;
  height: 100%;
  background: #000;
}
